// BREAKPOINT MANAGER
@mixin media($breakpoint) {
	@if $breakpoint == xs {
		@media only screen and (max-width: 24em) { @content }; 	// 384px
	}
	@if $breakpoint == sm {
		@media only screen and (max-width: 36em) { @content }; 	// 576px
	}
	@if $breakpoint == md {
		@media only screen and (max-width: 48em) { @content };	// 768px
	}
	@if $breakpoint == lg {
		@media only screen and (max-width: 62em) { @content };		// 992px
	}
	@if $breakpoint == xl {
		@media only screen and (max-width: 75em) { @content };	// 1200px
	}
	@if $breakpoint == xxl {
		@media only screen and (max-width: 87.5em) { @content };	// 1400px
	}
}

@mixin mediaUp($breakpoint) {
	@if $breakpoint == xs {
		@media only screen and (min-width: 24em) { @content }; 	// 384px
	}
	@if $breakpoint == sm {
		@media only screen and (min-width: 36em) { @content }; 	// 576px
	}
	@if $breakpoint == md {
		@media only screen and (min-width: 48em) { @content };	// 768px
	}
	@if $breakpoint == lg {
		@media only screen and (min-width: 62em) { @content };		// 992px
	}
	@if $breakpoint == xl {
		@media only screen and (min-width: 75em) { @content };	// 1200px
	}
	@if $breakpoint == xxl {
		@media only screen and (min-width: 87.5em) { @content };	// 1400px
	}
}

/* Example */
body {
	@include media(sm) {
		
	}
}
