button {
	border: none;
	background-color: transparent;
	font-family: inherit;
}

address {
	font-style: inherit;
}

html {
	-webkit-tap-highlight-color: transparent;
}

input {
	border: none;
}

svg {
	width: 100%;
	height: 100%;
}

