// PADDINGS
//.pt-0 {padding-top: 0 !important;}
//.pt-xs {padding-top: $ut-xs !important;}
//.pt-s {padding-top: $ut-s !important;}
//.pt-m {padding-top: $ut-m !important;}
//.pt-l {padding-top: $ut-l !important;}
//.pt-xl {padding-top: $ut-xl !important;}
//
//.pb-0 {padding-bottom: 0 !important;}
//.pb-xs {padding-bottom: $ut-xs !important;}
//.pb-s {padding-bottom: $ut-s !important;}
//.pb-m {padding-bottom: $ut-m !important;}
//.pb-l {padding-bottom: $ut-l !important;}
//.pb-xl {padding-bottom: $ut-xl !important;}
//
// MARGINS
//.mt-0 {margin-top: 0 !important;}
//.mt-xs {margin-top: $ut-xs !important;}
//.mt-s {margin-top: $ut-s !important;}
//.mt-m {margin-top: $ut-m !important;}
//.mt-l {margin-top: $ut-l !important;}
//.mt-xl {margin-top: $ut-xl !important;}
//
//.mb-0 {margin-bottom: 0 !important;}
//.mb-xs {margin-bottom: $ut-s !important;}
//.mb-s {margin-bottom: $ut-s !important;}
//.mb-m {margin-bottom: $ut-m !important;}
//.mb-l {margin-bottom: $ut-l !important;}
//.mb-xl {margin-bottom: $ut-xl !important;}

.u-center {margin-left: auto; margin-right: auto;}

.t-muted {color: $color-grey-2 !important;}
.t-primary {color: $color-primary !important;}
.t-bold {font-weight: bold !important;}
.t-center {text-align: center !important;}

.hidden {
	display: none;
}