// BREAKPOINTS
$bp-xs: 384px; 
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// FONTS
$font-display: 'Oswald', sans-serif; // 400
$font-default: 'Work Sans', sans-serif; // 300, 400, 700

// FONT SIZE
$tiny: 0.625rem;
$small: 0.75rem;
$smaller: 0.875rem;
$default: 1rem;
$medium: 1.125rem;
$larger: 1.25rem;
$large: 1.5rem;
$large-h4: 1.25rem;
$large-h3: 1.5rem;
$large-h2: 1.75rem;
$large-h1: 2rem;
$large-h0: 3rem;

// COLORS
$color-primary: #080808;
$color-secondary: #bc9856;
$color-secondary-darken: darken($color-secondary, 10);

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey-0: #F8F8F8;
$color-grey-1: #F2F2F2;
$color-grey-1a: #DDDDDD;
$color-grey-2: #A6A6A6;
$color-grey-3: #888888;
$color-grey-4: #666666;
$color-grey-5: #444444;
$color-grey-6: #222222;

// MORE COLORS
$color-text: $color-primary;
$color-text-grey: $color-grey-2;
$color-lighten-black: rgba($color-white, 0.075);

// FONT COLORS
$color-text: $color-grey-5;
$color-text-muted: $color-grey-3;
$color-link: $color-secondary;
$color-link-hover: darken($color-link, 15);

// SHADOWS
$shadow-small: 0 2px 3px 1px rgba($color-black, .15);
$shadow-medium: 0 0 8px 4px rgba($color-black, .25);
$shadow-large: 0 4px 8px 1px rgba($color-black, .3);
$shadow-bottom: 0 8px 8px -8px rgba($color-black, .25);

// RADIUS
$radius-small: 4px;
$radius-medium: 6px;
$radius-large: 12px;

// TRANSITIONS
$transition-fast: 150ms;
$transition-medium: 200ms;
$transition-slow: 400ms;
$transition-very-slow: 1000ms;

// LAYOUT
$page-width: 82rem;
$gap: 1.5rem;

// UTILITY SIZES
$ut-xs: 0.25rem;
$ut-s: 0.5rem;
$ut-m: 1rem;
$ut-l: 2rem;
$ut-xl: 4rem;
$ut-xxl: 8rem;

// OTHER
$border: 1px solid $color-secondary;
$border-grey: 1px solid #e6e6e6;
$letter-spacing: 0.05em;