.footer {
  background-color: $color-primary;
  padding: 1rem 0;
  color: rgba($color-white, 0.75);
  box-shadow: $shadow-medium;
  margin-top: 60px;
  background-image: url('./../img/bg-map-dark.png');
  background-position-x: center;
  background-position-y: 20%;
  background-size: auto;
  background-repeat: no-repeat;

  small {
    font-size: $smaller;
  }
}