.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 2rem;
  background-color: $color-primary;
  color: $color-white;
  padding: 36px 0;
  background-image: url('./../img/bg-map-dark.png');
  background-position-x: center;
  background-position-y: 20%;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: $shadow-medium;
  z-index: 3;
  position: relative;
  min-height: 74px;

  @include media(lg) {
    position: fixed;
    padding: 16px 0;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 6rem;

    @include media(xxl) {
      gap: 2rem;
    }

    @include media(lg) {
      gap: 12px;
    }
  }

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.header-logo {
  display: flex;
  color: $color-white;
  transition: $transition-fast;
  fill: $color-white;

  &__wrapper {
    display: inline-block;

    @include media(lg) {
      height: 32px;
      max-width: 48px;
    }
  }

  &__img {
    width: 200px;

    @include media(lg) {
      width: 66px;
    }

    @include media(sm) {
      width: 40px;
    }
  }

  &__text {
    margin-left: 72px;
    padding-left: 32px;
    border-left: 1px solid rgba($color-white, 0.25);
    font-family: $font-display;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: $medium;
    letter-spacing: 0.25em;

    &:hover,
    &:active {
      text-decoration: none;
    }

    @include media(xxl) {
      margin-left: 32px;
    }

    @include media(lg) {
      margin-left: 16px;
      padding-left: 16px;
    }
  }
}

.header-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__icon {
    fill: $color-secondary;
    width: 24px;
    height: 24px;
  }

  &__body {
    font-size: $smaller;
    margin-left: 1rem;
  }

  &__title {
    text-transform: uppercase;
    color: $color-text-muted;
  }

  &__link {
    color: $color-white;
    white-space: nowrap;
    font-weight: 700;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  @include media(lg) {
    margin-right: 3rem;
  }

  @include media(sm) {
    display: none;
  }
}

.header-search-toggle,
.header-search-close {

  @include mediaUp(lg) {
    display: none;
  }
}

.header-search-close {
  padding: 8px;
  margin-left: 12px;

  &__icon {
    fill: $color-white;
    stroke-width: 2;
    stroke: $color-white;
  }
}

.header-search {
  max-width: 460px;
  min-width: 260px;
  position: relative;
  display: flex;
  flex-grow: 1;

  form {
    width: 100%;
  }

  @include media(xxl) {
    max-width: 300px;
  }

  @include media(lg) {
    position: absolute;
    top: -100%;
    left: 0;
    max-width: unset;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    padding: 16px 12px;
    transition: top $transition-medium ease-out;
    z-index: 1;

    &.active {
      top: 0;
    }
  }
}