.navbar {
  width: 100%;
  background-color: $color-white;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: $shadow-small;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: left $transition-slow ease-in-out;

  @include media(lg) {
    position: fixed;
    top: 74px;
    left: -100%;
    height: 100%;
    max-height: calc(100vh - 74px);
    align-items: flex-start;
    box-shadow: none;
    overflow-y: auto;

    &.active {
      left: 0;
    }
  }

  &__container {
    @include media(lg) {
      padding: 0;
      height: 100%;
      align-items: flex-start !important;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;

    @include media(lg) {
      flex-direction: column;
    }
  }

  .dropdown &__item {
    &:first-of-type {
      border-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-grow: 1;
    border-right: $border-grey;
    position: relative;

    &:first-of-type {
      border-left: $border-grey;
    }

    &:hover,
    &:active {
      text-decoration: none;
      color: $color-secondary;

      .navbar__link::after {
        transform: scaleX(1);
      }
    }

    @include media(lg) {
      border: 0;
      flex-direction: column;
      border-top: $border-grey;
    }

    @include mediaUp(lg) {
      &.active {
        background-color: $color-grey-1;
      }
    }

    &.dropdown,
    &.dropdown .dropdown {

      &:hover,
      &:active {
        & > .navbar__dropdown-list {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &.dropdown {

      .navbar__link-title {
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: -20px;
          top: 50%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 5px 0 5px;
          border-color: $color-secondary transparent transparent transparent;
          transition: $transition-fast ease-out;
          transform: translateY(-50%);

          @include media(lg) {
            display: none;
          }
        }
      }

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: $color-secondary transparent transparent transparent;
        transition: transform $transition-fast ease-out;
        transform: translateY(-50%);

        @include mediaUp(lg) {
          display: none;
        }
      }

      &.extended::after {
        border-width: 0 5px 7px 5px;
        border-color: transparent transparent $color-secondary transparent;
      }
    }

    &.home {
      .navbar__link-icon {
        width: 32px;
        height: 32px;
      }
    }

    &.external {
      .navbar__link-title::after {
        content: "";
        display: inline-block;
        margin-left: 8px;
        width: 14px;
        height: 14px;
        background-color: currentColor;
        -webkit-mask: url('./../img/icons/link-external.svg') no-repeat 50% 50%;
        mask: url('./../img/icons/link-external.svg') no-repeat 50% 50%;
        mask-size: auto;
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-transition: background-color $transition-fast;
        transition: background-color $transition-fast;

        @include media(xxl) {
          width: 12px;
          height: 12px;
          margin-left: 4px;
        }

        @include media(lg) {
          margin-left: 12px;
          background-color: $color-grey-2;
          margin-bottom: 2px;
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 12px 16px;
    color: $color-grey-2;
    width: 100%;
    position: relative;

    &:hover,
    &:active {
      text-decoration: none;
      color: $color-secondary;

      svg {
        fill: $color-secondary;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-secondary;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: transform $transition-fast ease-out;

      @include media(lg) {
        width: 2px;
        height: 100%;
        transform: scale(1, 0);
      }
    }

    @include media(lg) {
      flex-direction: row;
      justify-content: flex-start;
      padding: 16px 24px;
      gap: 24px;
      color: $color-primary;
      width: auto;
      margin-right: 72px;
    }
  }

  &__link-icon {
    height: 20px;
    width: 20px;
  }

  svg {
    fill: $color-grey-2;
    transition: color $transition-fast;
  }

  &__link-title {
    display: inline-block;
    text-transform: uppercase;
    font-family: $font-display;
    font-size: $default;
    letter-spacing: $letter-spacing;

    @include media(xxl) {
      font-size: $smaller;
      text-transform: none;
    }

    @include media(lg) {
      font-size: $larger;
      letter-spacing: 0;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    background-color: $color-grey-1;
    padding: 24px;

    @include mediaUp(lg) {
      display: none;
    }
  }

  &__contact-icon {
    width: 18px;
    height: 18px;
    fill: $color-secondary !important;
    margin-right: 12px;
  }

  &__contact-label,
  &__contact-link {
    font-family: $font-display;
    font-size: $default;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
  }

  &__contact-link {
    margin-left: auto;
  }


  /* ========= DROPDOWN ========= */

  &__dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: $color-white;
    list-style: none;
    min-width: 100%;

    transition: $transition-fast ease-in-out;
    transition-property: opacity, transform;
    transform: translateY(0px);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    
    @include media(lg) {
      position: relative;
    }

    // pokud je dropdown-list v dropdown-listu
    & & {
      position: absolute;
      left: 100%;
      top: 0px;
      list-style: none;

      @include media(lg) {
        position: relative;
        top: 100%;
        left: 0;
        // padding-left: 24px;
      }
    }
  }

  &__item {

    .navbar__dropdown-list {
      @include media(lg) {
        visibility: visible;
        opacity: 1;
      }
    }

    & {
      & > .navbar__dropdown-list {
        @include media(lg) {
          display: none;
        }
      }
    }

    &.extended {
      & > .navbar__dropdown-list {
        @include media(lg) {
          display: flex;
          background-color: $color-grey-0;
        }
      }
    }

    // pokud je navbar__item v navbar__itemu
    & & {
      border-bottom: $border-grey;
      border-right: $border-grey;
      position: relative;
      z-index: 1;

      .navbar__link {
        position: relative;
        display: block;
        padding: 12px 24px;
        color: $color-text-grey;
        font-family: $font-display;
        letter-spacing: $letter-spacing;
        font-size: $default;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $color-secondary;
          width: 2px;
          height: 100%;
          transform: scaleY(0);
          transition: transform $transition-fast ease-out;

          @include media(lg) {
            width: 2px;
            height: 100%;
            transform: scale(1, 0);
          }
        }

        &:hover,
        &:active {
          text-decoration: none;

          &::after {
            transform: scaleX(1);
          }
        }
      }

      &.dropdown {

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 15px;
          top: 50%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 7px;
          border-color: transparent transparent transparent $color-secondary;
          transition: transform $transition-fast ease-out;
          transform: translateY(-50%);

          @include media(lg) {
            border-width: 7px 5px 0 5px;
            border-color: $color-secondary transparent transparent transparent;
            top: 25px;
            right: 30px;
          }
        }

        &.extended {
          @include media(lg) {
            &::after {
              border-width: 0 5px 7px 5px;
              border-color: transparent transparent $color-secondary transparent;
              top: 25px;
            }
          }
        }
      }

      @include media(lg) {
        border-bottom: 0
      }
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.navbar-menu-toggle {
  padding: 14px 10px;

  @include mediaUp(lg) {
    display: none;
  }

  &__icon {
    width: 26px;
    height: 14px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
  }

  &__icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-white;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }


  &__icon span:nth-child(1) {
    top: 0px;
  }

  &__icon span:nth-child(2), &__icon span:nth-child(3) {
    top: 6px;
  }

  &__icon span:nth-child(4) {
    top: 12px;
  }

  &.open &__icon span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%;
  }

  &.open &__icon span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open &__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.open &__icon span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
}

.navbar__item:hover .page::after {
  display: none;
}