.w-accordion {

  &__item {
    padding: 1rem 0 0.5rem 0;
    border-bottom: $border-grey;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__item-title {
    color: $color-primary;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: color $transition-fast;
    text-align: left;

    h5 {
      font-size: $smaller;
      font-family: $font-default;
      letter-spacing: 0;
      margin-bottom: 0;
    }

    &:not(.collapsed) {
      .w-accordion__item-icon::after {
        transform: rotate(180deg);
        background-color: $color-primary;
      }

      .w-accordion__item-icon::before {
        transform: rotate(90deg) scale(0);
      }
    }

    &:hover,
    &:active {
      color: $color-secondary;

      .w-accordion__item-icon::before,
      .w-accordion__item-icon::after {
        background-color: $color-secondary;
      }
    }
  }

  &__item-body {
    color: $color-text-grey;
  }

  &__item-icon {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-left: 12px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      top: calc( (12px / 2 ) - 1px );
      background-color: $color-grey-2;
      transition: $transition-fast ease-in-out all;
      border-radius: 0.03em;
    }

    &::after {
      transform: rotate(90deg);
    }
  }


}