.w-calendar {
  margin-bottom: 30px;

  &__namedays {
    padding: 16px 32px;
    border-top: $border-grey;
  }

  &__namedays-text {
    color: $color-text-grey;

    em {
      color: $color-primary;
      font-style: normal;
    }
  }
}