.w-chart {

  &__item {
    position: relative;
    height: 8px;
    background-color: transparent;
    overflow: visible;
    margin: 32px 0 48px 0;

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__item-title {
    position: absolute;
    top: -24px;
    font-size: $smaller;
    font-family: $font-default;
  }

  &__item-progress-bar {
    background-color: $color-secondary;
    border-radius: 9999px;
  }

  &__item-label {
    margin-left: 8px;
    font-size: $small;
    color: $color-text-grey;
    transform: translateY(40%);
  }
}