.contact-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 24px;
}

.contact-card {
  background-color: $color-primary;

  &__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 32px 24px;
    background-color: $color-lighten-black;
  }

  &__image-wrapper {
    height: 96px;
    width: 96px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    border-radius: 9999px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__titles {
    text-transform: uppercase;
  }

  &__title {
    letter-spacing: $letter-spacing;
    color: $color-white;
    font-size: $medium;
    padding-bottom: 8px;
  }

  &__subtitle {
    font-family: $font-default;
    color: $color-secondary;
    font-size: $small;
  }

  &__subtitle-small {
    font-family: $font-default;
    color: $color-text-grey;
    font-size: $small;
  }

  &__list {
    list-style: none;
    padding: 32px 24px;
    margin-bottom: 0;
  }

  &__list-item {
    font-size: $smaller;

    @include media(xxl) {
      font-size: $small;
    }

    &:not(:last-of-type) {
      padding-bottom: 6px;

      @include media(md) {
        padding-bottom: 12px;
      }
    }

    &.email {

      .contact-card__link::before {
        -webkit-mask: url('../img/icons/mail.svg') no-repeat 50% 50%;
        mask: url('../img/icons/mail.svg') no-repeat 50% 50%;
      }
    }

    &.phone {
      .contact-card__link::before {
        -webkit-mask: url('../img/icons/phone.svg') no-repeat 50% 50%;
        mask: url('../img/icons/phone.svg') no-repeat 50% 50%;
      }
    }
  }

  &__link {
    color: $color-white;

    @include media(md) {
      color: $color-secondary;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      display: inline-block;
      margin-right: 12px;
      width: 14px;
      height: 14px;
      background-color: $color-secondary;
      -webkit-mask: url('../img/icons/link-external.svg') no-repeat 50% 50%;
      mask: url('../img/icons/link-external.svg') no-repeat 50% 50%;
      mask-size: auto;
      -webkit-mask-size: cover;
      mask-size: cover;
      transform: translateY(2px);

      @include media(md) {
        background-color: $color-white;
      }
    }
  }
}