.w-links {
  background-color: transparent;

  & > * {
    background-color: $color-white;
    margin-bottom: 10px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.w-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0;
  position: relative;

  &__icon {
    width: 26px;
    height: 26px;
    fill: $color-secondary;
    margin-right: 24px;
  }

  &__title {
    font-family: $font-display;
    text-transform: uppercase;
    color: $color-text-grey;
    font-size: $default;
    letter-spacing: $letter-spacing;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-50%) scaleY(0);
    transform-origin: center;
    z-index: 1;
    background-color: $color-secondary;
    transition: $transition-fast ease-out;
  }

  &.external {
    .w-link__title::after {
      content: "";
      display: inline-block;
      margin-left: 8px;
      width: 16px;
      height: 16px;
      background-color: currentColor;
      -webkit-mask: url(./../img/icons/link-external.svg) no-repeat 50% 50%;
      mask: url(./../img/icons/link-external.svg) no-repeat 50% 50%;
      mask-size: auto;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-transition: 150ms;
      transition: 150ms;
    }
  }

  &:hover,
  &:active {
    text-decoration: none;

    &::before {
      transform: translateY(-50%) scaleY(1);
    }

    .w-link__title {
      color: $color-secondary;
    }

    svg {
      fill: $color-secondary;
    }
  }
}