.w-meals {

  .widget__head {
    border-bottom: $border-grey;
  }

  &__day {

  }

  &__day-title {
    font-size: $default;
    padding: 12px 32px;
    text-align: center;
    letter-spacing: $letter-spacing;
    border-bottom: $border-grey;
    margin-bottom: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 24px;
    position: relative;
    min-height: 64px;

    &:not(:last-child) {
      border-bottom: $border-grey;
    }
  }

  &__item-number {
    color: $color-text-grey;
    min-width: 16px;
    margin-right: 12px;
    font-size: $small;
  }

  &__item-name {
    font-size: $smaller;
    font-family: $font-default;
    margin-right: auto;
  }

  &__item-tag {
    background-color: $color-secondary;
    color: $color-white;
    font-size: $small;
    padding: 1px 8px;
    margin-left: 16px;
  }

  .slick {
    position: relative;

    &-arrow {
      position: absolute;
      top: 0;
      width: 45px;
      height: 45px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-white;
      transform: none;
      border-bottom: $border-grey;
      transition: $transition-fast ease-in-out;

      &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        transition: $transition-fast ease-out;
      }

      &:hover:not(.slick-disabled),
      &:active:not(.slick-disabled) {
        background-color: $color-secondary;
      }

      &.slick-prev {
        left: 0;
        border-right: $border-grey;

        &::before {
          border-width: 5px 7px 5px 0;
          border-color: transparent $color-secondary transparent transparent;
        }
        &:hover:not(.slick-disabled),
        &:active:not(.slick-disabled) {

          &::before {
            border-color: transparent $color-white transparent transparent;
          }
        }
      }

      &.slick-next {
        right: 0;
        border-left: $border-grey;

        &::before {
          border-width: 5px 0 5px 7px;
          border-color: transparent transparent transparent $color-secondary;
        }

        &:hover:not(.slick-disabled),
        &:active:not(.slick-disabled) {

          &::before {
            border-color: transparent transparent transparent $color-white;
          }
        }
      }
    }
  }
}