.w-news {
  margin-top: -24px;

  &__item {
    border: $border-grey;
    border-top: none;
  }

  &__item-link {
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 20px 128px 20px 24px;
    transition: background-color $transition-fast ease-out;

    @include media(sm) {
      padding-right: 24px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 28px;
      bottom: 28px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 7px;
      border-color: transparent transparent transparent $color-grey-1a;
      margin-right: 12px;
      transition: $transition-fast ease-out;

      @include media(sm) {
        display: none;
      }
    }

    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
      background-color: $color-grey-0;

      &::after {
        border-color: transparent transparent transparent $color-secondary;
        transform: translate(4px, 0);
      }

      .w-news__item-tag {
        transform: translateX(0px);
      }
    }
  }

  &__item-title {
    font-size: $default;
    font-size: $smaller;
    font-family: $font-default;
    color: $color-primary;
  }

  &__item-time {
    color: $color-secondary;
  }

  &__item-excerpt {
    color: $color-text-grey;
    margin-top: 8px;
    margin-bottom: 0;
  }

  &__item-tag {
    position: absolute;
    right: -8px;
    top: 16px;
    background-color: $color-grey-2;
    padding: 4px 8px;
    font-size: $small;
    transition: transform $transition-fast;

    &.primary {
      background-color: $color-primary;
      color: $color-white;
    }

    &.secondary {
      background-color: $color-secondary;
      color: $color-white;
    }

    @include media(sm) {
      position: initial;
      order: -1;
      margin-bottom: 16px;
    }
  }
}