.pagination {
  margin-top: 32px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0 auto;
  }

  &__item {
    position: relative;

    &.prev,
    &.next {
      .pagination__link::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent $color-grey-1a;
        transition: $transition-fast ease-out;
      }
    }

    &.prev {
      .pagination__link::before {
        transform: rotate(180deg);
      }
    }

    &.active {
      background-color: $color-secondary;
      text-decoration: none;

      .pagination__link {
        color: $color-white;
        border-color: $color-secondary;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-text-grey;

    border: $border-grey;
    height: 32px;
    min-width: 32px;
    transition: $transition-fast;

    &:hover,
    &:active {
      background-color: $color-secondary;
      text-decoration: none;
      border-color: $color-secondary;
      color: $color-white;

      &::before {
        border-color: transparent transparent transparent $color-white !important;
      }
    }
  }
}