.w-poll {

  &__action {
    width: 100%;
    margin-bottom: 8px;
  }

  &__item {
    height: 48px;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: $color-grey-1;
    position: relative;
    transition: border $transition-fast;

    &:hover,
    &:active {
      border: 1px solid $color-secondary;
    }
  }

  &__item-progress-bar {
    background-color: $color-secondary;
    width: 0;
    transition:
            width 1000ms cubic-bezier(0.6, 0.2, 0.04, 1);
  }
  &__item-label,
  &__item-value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: $smaller;
  }

  &__item-label {
    left: 16px;
    line-height: 1.25;
    text-align: left;
    padding-right: 64px;
  }

  &__item-value {
    right: 16px;
  }
}