.w-tabs {

  &--small-gutter {

    .w-tabs__nav-link {
      padding: 12px;
    }
  }

  &__nav {
    border-bottom: $border-grey;
  }

  &__nav-link {
    padding: 12px 24px;
    color: $color-text-grey;
    text-transform: uppercase;
    font-family: $font-display;
    letter-spacing: $letter-spacing;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-secondary;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: transform $transition-fast ease-out;
    }

    &:hover,
    &:active,
    &.active {
      text-decoration: none;
      color: $color-secondary;

      &::after {
        transform: scaleX(1);
      }

    }
  }

  &__content {
    padding-top: 24px;
  }
}
