.w-weather {
  background-color: $color-primary;

  .widget__head-title {
    color: $color-white;
    padding-bottom: 0;
    margin-bottom: 8px;
  }

  &__item-title {
    color: $color-white;
    text-transform: uppercase;
    padding-bottom: 4px;
    display: block;
  }

  &__item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__item-icon {
    fill: $color-secondary;
    margin-left: auto;
  }

  &__item-value {
    color: $color-white;
    font-size: $large-h3;
    font-weight: 300;
    white-space: nowrap;
    flex-basis: 50%;

    abbr {
      text-decoration: none;
    }
  }

  &__item {
    padding: 12px 32px; // fixed with default widget padding
    margin: 0 -32px; // fixed with default widget padding

    &--maior {
      background-color: $color-lighten-black;

      .w-weather__item-body {
        padding: 0 0 16px 0;
      }

      .w-weather__item-icon {
        height: 84px;
        width: 84px;
      }

      .w-weather__item-value {
        font-size: $large-h3;

        @include media(xxl) {
          font-size: $large-h4;
        }
      }
    }

    &--minor {

      .w-weather__item-body {
        padding: 0;
      }

      .w-weather__item-icon {
        height: 56px;
        width: 56px;
      }

      .w-weather__item-value {
        font-size: $large-h4;

        @include media(xxl) {
          font-size: $large;
        }
      }
    }
  }

}