*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	position: relative;
	/* scroll-behavior: smooth; */
}

body {
	background-color: $color-grey-1;
	font-family: $font-default;
	font-size: $smaller;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color-black, 0.5);
		transition: $transition-medium;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
	}

	&.backdrop::after {
		opacity: 1;
		visibility: visible;
	}
}

main {
	background-color: $color-white;
	padding-top: 30px;
	padding-bottom: 60px;
	height: 100%;

	@include media(lg) {
		background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.page {
	background-image: url('./../img/bg-map-light.png');
	background-position: center 10vh;
	background-repeat: no-repeat;
	margin-top: 30px;
	transition: $transition-slow;

	@include media(lg) {
		margin-top: 0;
		padding-top: calc(74px + 15px);
	}
}

a {
	color: $color-link;
	text-decoration: none;
	transition: color $transition-fast;

	&:hover {
		color: $color-link-hover;
	}
}

hr {
	border: 0;
	border-bottom: $border;
}

//svg {
//	stroke-width: 1.5;
//	fill: none;
//	stroke-linecap: round;
//	stroke-linejoin: round;
//}

button {
	cursor: pointer;
}

::selection {
	color: $color-white;
	background-color: $color-secondary;
}