/*
btn
---- btn-button
-------- btn-button-default
-------- btn-button-primary
-------- btn-button-secondary
---- btn-link
-------- btn-link-default
-------- btn-link-primary
-------- btn-link-secondary
*/

.btn-row {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;

  &--secondary {
    text-transform: uppercase;
    font-family: $font-display;
    letter-spacing: $letter-spacing;
    color: $color-white;
    position: relative;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $color-secondary-darken;
      opacity: 0;
      transform: scale3d(0.7, 1, 1);
      transition: transform .35s,opacity .35s;
      transition-timing-function: ease, ease;
      transition-timing-function: ease, ease;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      background: $color-secondary;
    }

    &:hover,
    &:active {
      color: $color-white;

      &::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &--min-width {
    min-width: 128px;
  }

  &--grey {
    background-color: $color-grey-1;
    color: $color-grey-3;
    font-size: $small;
  }

  &--small {
    padding: 4px 12px;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($color-primary, 0.5);
  }

  &--chevron {
    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 5px;
      border-color: transparent transparent transparent $color-grey-2;
      margin-right: 12px;
      transform: translate(6px, 0);
      transition: $transition-fast ease-out;
    }

    &:hover,
    &:active {
      &::after {
        transform: translate(10px, 0);
        border-color: transparent transparent transparent currentColor;
      }
    }
  }

  &--icon {
    & > svg {
      width: 20px;
      height: 20px;
      margin-right: 6px;
      stroke: currentColor;
    }
  }
}

.btn--square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: rgba($color-white, 0.25);
  padding: 12px;
  border: $border-grey;

  &__icon {
    fill: $color-white;
    stroke: $color-white;
  }
}