.container {
	width: 100vw;
	margin: 0 auto;
	max-width: $page-width;
	padding: 0 1rem;	
	margin-bottom: 4rem;
	
	&--full {
		max-width: 100%;
	}

	&--narrow {
		max-width: calc(#{$page-width} / 2);
	}

	&__content {
		padding-left: $ut-m;
		margin-left: $ut-m;
		border-left: $border;
	}
}