.form {
  position: relative;

  &__fieldset {

    &--inline {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  &__input {
    color: $color-text;
    background-color: rgba($color-white, 0.15);
    border: $border-grey;
    height: 40px;
    padding: 0 16px;
    width: 100%;
    font-size: $smaller;
    position: relative;

    &:focus,
    &:focus-visible {
      outline: none !important;
      border-color: $color-secondary;
    }

    &--search {
      padding-right: 48px;
    }

    &--icon {
      padding-left: 48px;
    }

    &--min-width {
      min-width: 300px;
      flex: 1;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 6px 12px;
    fill: $color-white;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    fill: $color-grey-1a;
    padding: 6px 12px;
  }

  &--light {

    .form__input {
      color: $color-white;
    }

    .form__icon {
      fill: $color-white;
    }
  }

  &--large {
    .form__input {
      height: 50px;
    }

    .form__icon {
      height: 50px;
    }

    .btn {
      height: 50px;
    }
  }
}
