html {
	// font-size: 62.5%; // 10px/16px = 62.5% → 1rem = 10px
	font-size: 100%;
	font-family: $font-default;
	font-weight: 400;
	line-height: 1.5;
	color: $color-grey-5;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	margin-bottom: .25em;
	font-family: $font-display;
}

.title {
	font-family: $font-display;
	line-height: 1.25;
	letter-spacing: $letter-spacing;

	&--h0 {
		@extend .title;
		font-size: $large-h0;
	}

	&--h1 {
		@extend .title;
		font-size: $large-h1;
		margin-bottom: 1em;
	}

	&--h2 {
		@extend .title;
		font-size: $large-h2
	}

	&--h3 {
		@extend .title;
		font-size: $large-h3;
	}

	&--h4 {
		@extend .title;
		font-size: $large-h3;
	}

	&--h5 {
		@extend .title;
		font-size: $large;
	}

	&--h6 {
		@extend .title;
		font-size: $larger;
	}

	&--deco-over {
		&::before {
			content: "";
			display: block;
			height: 4px;
			width: 5rem;
			background-color: $color-secondary;
			margin-bottom: 2rem;
		}
	}

	&--deco-fill {
		width: 100%;
		display: flex;
		align-items: center;

		&::after {
			content: "";
			height: 2px;
			width: 64px;
			margin-left: 1rem;
			transform: translateY(4px);
			background-color: $color-secondary;
		}
	}

	&--deco-under {
		&::after {
			content: "";
			display: block;
			height: 2px;
			width: 100%;
			background-color: $color-black;
			margin: .5em 0 $ut-l 0;
		}
	}
}

