.widget {
  padding: 24px 32px;
  background-color: $color-white;
  margin-bottom: 10px;

  &.no-padding {
    padding: 0;

    .widget__head {
      padding: 16px 32px 16px 32px;

      h2 {
        margin-bottom: 0;
      }
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 16px;
  }

  &__head-title {
    margin-top: 6px;
    font-size: $default;
    text-transform: uppercase;
    color: $color-primary;
  }

  &__head-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: $border-grey;
    padding: 4px 12px;
    font-size: $small;
    color: $color-text-grey;
    position: relative;
    background-color: transparent;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba($color-secondary, 0.95);
      opacity: 0;
      transform: scale3d(.7,1,1);
      transition: transform .35s,opacity .35s;
      transition-timing-function: ease, ease;
      transition-timing-function: cubic-bezier(.2,1,.3,1);
    }

    &:hover,
    &:active {
      text-decoration: none;
      color: $color-white;

      &::before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.w-links {
    padding: 0;
  }
}