.wrapper {
	display: grid;
	width: 100%;
	height: auto;
	grid-gap: $gap;

	&--halves {
		@extend .wrapper;
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

		@include media(md) {
			grid-template-columns: 100%;
		}
	}

	&--thirds {
		@extend .wrapper;
		grid-template-columns: repeat(3, 1fr);
	}

	&--quarters {
		@extend .wrapper;
		grid-template-columns: repeat(4, 1fr);
	}
}