.files {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.file {
  margin-bottom: 16px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    color: inherit;
    background-color: $color-primary;

    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;

      .file__icon-wrapper {
        background-color: $color-secondary;
      }

      .file__icon {
        fill: $color-primary;
        stroke: $color-primary;
      }
    }

    @include media(sm) {
      flex-direction: column;
      gap: 0;

      .file__icon-wrapper {
        min-height: initial;
        flex-basis: 64px;
      }

      .file__icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__image-wrapper {
    display: none;
    width: 100%;
    height: auto;
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  &__body-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    padding: 24px 24px 16px;
  }

  &__title {
    text-transform: uppercase;
    font-size: $default !important;
    letter-spacing: $letter-spacing !important;
    color: $color-secondary;
    margin: 0 !important;
  }

  &__description {
    margin: 4px 0 0;
    font-size: $smaller;
    color: $color-text-grey;
  }

  &__attributes {
    display: none;
    font-size: $smaller;
    color: $color-text-grey;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 110px;
    min-height: 110px;
    background-color: $color-lighten-black;
    transition: background-color $transition-fast;
  }

  &__icon {
    width: 32px;
    height: 32px;
    stroke: $color-secondary;
    fill: $color-secondary;
    transition: $transition-fast;
    transition-property: fill, stroke;
  }

  &--preview {
    .file__link {
      flex-direction: column;
      align-items: stretch;
      background-color: transparent;
      gap: 0;
    }

    .file__image-wrapper {
      display: block;
    }

    .file__body-wrapper {
      border-bottom: $border-grey;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .file__description {
      display: none;
    }

    .file__attributes {
      display: block;
    }

    .file__icon-wrapper {
      display: none;
    }
  }
}