.structure-content {
  .image {
    max-width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 24px;

    @include media(sm) {
      width: 100% !important;
    }

    &--right {
      float: right;
      width: 50%;
      margin-left: 32px;
    }

    &--left {
      float: left;
      margin-right: 32px;
      width: 50%;
    }

    &--center {
      width: 50%;
      margin: auto;
    }

    &__figure {
      display: block;
    }

    &__picture {
      display: block;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.75) 10%, rgba(0,0,0,0) 50%);
        z-index: 1;
      }
    }

    &__link {
      display: block;

      &:hover,
      &:active,
      &:focus {

        img {
          transform: scale(1.05);
        }
      }
    }

    &__figcaption {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      text-align: left;
      bottom: 12px;
      right: -8px;
      margin-left: 12px;
      padding: 4px 12px;
      background-color: $color-secondary;
      color: $color-white;
      font-size: $small;
      z-index: 2;
    }

    &__img {
      max-width: 100%;
      height: auto;
      display: block;
      transition: transform $transition-medium ease-in-out;
    }
  }
}