.structure-content {

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h1 {font-size: $large-h1;}
  h2 {font-size: $large-h2;}
  h3 {font-size: $large-h3;}
  h4 {font-size: $large-h4;}
  h5 {font-size: $default;}
  h6 {font-size: $smaller;}

  p {
    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }

  ul, ol {
    padding: 8px 0 16px;
    margin: 0;
    list-style: none;

    li {
      padding-bottom: 8px;
    }
  }

  ul {
    
    li {
      
      &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 5px;
        border-color: transparent transparent transparent $color-secondary;
        margin-right: 12px;
        transform: translateY(-1px);
      }
    }
  }

  ol {
    counter-reset: custom-counter;
    
    li {
      counter-increment: custom-counter;
      
      &::before {
        content: counter(custom-counter, decimal-leading-zero);
        color: $color-secondary;
        margin-right: 12px;
        font-family: $font-display;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;

    th, td {
      padding: 12px 16px;
    }

    th {
      border-bottom: $border;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: $letter-spacing;
    }

    tr {
      border-bottom: $border-grey;
    }

    td {

    }
  }

  .table {

    &--responsive {
      max-width: 100%;
      overflow-x: auto;
    }
  }
}